

DT_COMPAT_XLNX_GEM := xlnx,axiemac

menuconfig ETH_XLNX_AXIEMAC
	bool "Xilinx AXI Ethernet driver"
	default $(dt_compat_enabled,$(DT_COMPAT_XLNX_AXIEMAC))
	depends on SOC_SERIES_RISCV_BLACKPARROT
	help
	  Enable Xilinx axi Ethernet driver.